In [89]:
import pandas as pd
BTC =pd.read_csv('Bitstamp_BTCUSD_minute.csv')
BCH =pd.read_csv('Bitstamp_BCHUSD_minute.csv')
ETH =pd.read_csv('Bitstamp_ETHUSD_minute.csv')
LTC =pd.read_csv('Bitstamp_LTCUSD_minute.csv')
XRP =pd.read_csv('Bitstamp_XRPUSD_minute.csv')

In [39]:
def cleanData(data):
    data['date']=pd.to_datetime(data['date'])
    #data['time'] = [d.time() for d in data['date']]
    #data['date'] = [d.date() for d in data['date']]
    data['price']= data['close']
    del data['unix']
    del data['symbol']
    del data['Volume USD']
    del data['open']
    del data['high']
    del data['low']
    del data['close']
    return data

In [10]:
BTC = cleanData(BTC)
BCH = cleanData(BCH)
ETH = cleanData(ETH)
LTC = cleanData(LTC)
XRP = cleanData(XRP)
del BTC['Volume BTC']
del BCH['Volume BCH']
del ETH['Volume ETH']
del LTC['Volume LTC']
del XRP['Volume XRP']

In [50]:
BTC.describe()

               price
count  227010.000000
mean    46452.400128
std     11231.386504
min     17650.000000
25%     36521.640000
50%     49178.900000
75%     56449.500000
max     64859.300000

In [46]:
BCH.describe()

               price
count  227010.000000
mean      635.925152
std       273.021350
min       266.550000
25%       461.115000
50%       531.640000
75%       725.157500
max      1640.000000

In [47]:
ETH.describe()

               price
count  227010.000000
mean     1884.027120
std       806.163231
min       512.710000
25%      1343.000000
50%      1778.625000
75%      2212.730000
max      4374.040000

In [48]:
LTC.describe()

               price
count  227008.000000
mean      201.059321
std        62.675915
min        77.770000
25%       151.330000
50%       191.510000
75%       232.420000
max       413.600000

In [49]:
XRP.describe()

               price
count  227009.000000
mean        0.715532
std         0.466607
min         0.172050
25%         0.379800
50%         0.514430
75%         1.086680
max         1.965430

In [87]:
def grabTimeFrame(data,desired_bucket):
    output_data=data
    data=data.set_index('date')
    data = data.resample(desired_bucket).price.mean()
    data=data.reset_index()
    output_data['date'] = output_data['date'] + pd.Timedelta(minutes=1)
    output_data= output_data.rename(columns={"price": "y_price"})
    data= data.rename(columns={"price": "x_price"})
    final_data = pd.merge(data,output_data,on='date',how='left')
    return final_data

In [98]:
#model_data = grabTimeFrame(BTC, 'D')
model_data = grabTimeFrame(BTC, 'H')
#model_data = grabTimeFrame(BTC, '10Mins')